<p-card>
  <div class="bg-primary h-32 overflow-hidden rounded-lg"></div>
  <div class="p-3">
    <div class="flex flex-col sm:flex-row items-center gap-4 -mt-12 mb-6">
      <div class="relative">
        <div class="w-28 h-28 rounded-lg bg-white p-1.5 shadow-2xl">
          <div class="w-full h-full rounded-lg bg-secondary-subtle text-secondary flex justify-center items-center">
            <ng-icon class="text-5xl" name="featherUser" />
          </div>
        </div>
        <div class="absolute -bottom-1 -right-1 rounded-xl shadow-xl border-4 border-surface z-10">
          <div class="bg-primary rounded-xl w-full h-full flex items-center p-2 justify-center text-md text-primary-foreground">
            <ng-icon name="heroCheckCircle" />
          </div>
        </div>
      </div>

      <div><h5>John Doe</h5></div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="p-3 bg-secondary-subtle rounded-lg flex justify-between items-center">
        <div class="flex items-center gap-3">
          <div class="p-3 flex items-center justfiy-center bg-primary-subtle text-primary">
            <ng-icon name="featherCheckCircle" />
          </div>
          <h6 class="text-sm">Account Status</h6>
        </div>
        <div class="px-3 py-0.5 rounded bg-primary-subtle text-primary">
          <div class="flex gap-3 items-center">
            <div class="w-1.5 h-1.5 bg-primary rounded animate-pulse"></div>
            <div class="text-sm">Active</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-card>
