{
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 250,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,

  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
