{

  "printWidth": 250,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
