<div class="space-y-14">
  <div class="space-y-3">
    <h4>Let's get started</h4>
    <p>Tell us a bit about yourself to set up your account.</p>
  </div>
  <form (submit)="handleSubmit($event)" [formGroup]="phoneForm">
    <div class="space-y-5">
      <div class="flex flex-col gap-2">
        <app-phone-input 
          [label]="'forms.onboarding.phone.label' |translate"
          [placeholder]="'forms.onboarding.phone.placeholder' | translate" formControlName="phone"
          defaultCountry="US"
          [invalid]="(!phoneForm.get('phone')!.valid && (phoneForm.touched ||formSubmited() ))"
          ></app-phone-input>
        <app-app-form-errors [form]="phoneForm" [control]="phoneForm.get('phone')"
          [fieldKey]="'forms.onboarding.phone.label'"></app-app-form-errors>
      </div>
      <button type="sumbit" size="large" class="w-full text-sm" [loading]="loading()" pButton>
        <span>Continue</span>
        @if (!loading()) {
        <i class="pi pi-angle-right"></i>
        }
      </button>

    </div>
  </form>
</div>