<div class="space-y-14">
  <div class="space-y-3">
    <h4>Let's get started</h4>
    <p>Tell us a bit about yourself to set up your account.</p>
  </div>
  <form (submit)="handleSubmit($event)" [formGroup]="phoneForm">
    <div class="space-y-5">
      <div class="flex flex-col gap-2">
        <app-phone-input [label]="'forms.onboarding.phone.label' | translate" [countries]="filterdCountries" [placeholder]="'forms.onboarding.phone.placeholder' | translate" formControlName="phone" defaultCountry="US" [attr.data-testid]="testIds.phoneInput"></app-phone-input>
        <app-input-error [form]="phoneForm" [control]="phoneForm.get('phone')" [field]="'forms.onboarding.phone.label' | translate" />
      </div>

      <div class="flex gap-2">
        <p-button class="flex-1" styleClass="w-full  block" variant="outlined" severity="secondary" label="back" icon="pi pi-angle-left" iconPos="left" type="button" (onClick)="handleStepBack()"
        [attr.data-testid]="testIds.phoneStepback"></p-button>
        <p-button class="flex-2" styleClass="w-full block text-dark rounded-lg" label="Continue" icon="pi pi-angle-right" iconPos="right" type="submit" [loading]="loading()" [attr.data-testid]="testIds.phoneSubmit"></p-button>
      </div>
    </div>
  </form>
</div>
