<div class="px-12 py-2 ">
  <div class="space-y-14 text-text-inverse">
    <div class="flex items-center gap-3">
      <div class="p-3 text-inverse  rounded bg-primary shadow-sm shadow-primary">
        <i class="pi pi-wallet "> </i>
      </div>
      <h4>NovaWallet</h4>
    </div>

    <div class="space-y-5 ">
      <h2>The future of <span class="text-primary">digital finance</span> is here.</h2>
      <p class="text-secondary">Join over 2 million users worldwide managing their assets with the most secure and
        intuitive digital wallet.</p>
    </div>

    <div class="grid grid-cols gap-8 text-sm">
      <div class="flex items-center gap-3">
        <div class="p-3 bg-surface-inverse  rounded border border-border-inverse text-primary">
          <i class="pi pi-shield"></i>
        </div>
        <div >
          <h6>Bank-grade Security</h6>
          <p class="text-secondary">Your assets are protected by multi-layer encryption.</p>
        </div>
      </div>

      <div class="flex items-center gap-3">
        <div class="p-3 bg-surface-inverse rounded border border-border-inverse text-warning">
          <i class="pi pi-bolt"></i>
        </div>
        <div class="">
          <h6>Instant Transfers</h6>
          <p class="text-secondary">Send and receive money globally in seconds.</p>
        </div>
      </div>

      <div class="flex items-center gap-3">
        <div class="p-3 bg-surface-inverse rounded border border-border-inverse text-info">
          <i class="pi pi-globe"></i>
        </div>
        <div class="">
          <h6>Global Access</h6>
          <p class="text-secondary">Manage your finances from anywhere in the world.</p>
        </div>
      </div>
    </div>
  </div>
</div>