<p-card>
  <form [formGroup]="addressForm" (submit)="handleSubmit($event)">
    <div class="flex flex-col gap-5">
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-3">
          <ng-icon class="text-secondary" name="featherMapPin" />
          <h6 class="text-secondary text-sm uppercase font-medium">Address</h6>
        </div>
        <div>
          @if (editAddress()) {
            <div class="flex items-center gap-3">
              <p-button icon="pi pi-times" size="small" variant="text" severity="danger" [disabled]="isSubmiting()" (onClick)="toggleEditAddress()"></p-button>
              <p-button icon="pi pi-check" size="small" variant="text" severity="primary" type="submit" [loading]="isSubmiting()"></p-button>
            </div>
          } @else {
            <p-button icon="pi pi-pencil" variant="text" severity="contrast" (onClick)="toggleEditAddress()"></p-button>
          }
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-5 gap-y-6">
        <div class="flex flex-col gap-1">
          <label class="text-sm" for="country">{{ 'forms.customer.address.country.label' | translate }}</label>
          @if (editAddress()) {
            <p-select id="country" [options]="countries" optionLabel="name" optionValue="code" formControlName="country" (onChange)="handleCountryChange($event)" />
            <app-input-error [control]="addressForm.get('country')" [fieldKey]="'forms.customer.address.country.label'" />
          } @else {
            <div class="p-3 bg-secondary-subtle rounded-lg flex items-center gap-3">
              <p class="text-sm">{{ currentCountry()?.name }}</p>
            </div>
          }
        </div>

        <div class="flex flex-col gap-1">
          <label class="text-sm" for="state">{{ 'forms.customer.address.state.label' | translate }}</label>
          @if (editAddress()) {
            <p-select id="state" formControlName="state" [options]="states()" optionLabel="name" optionValue="code" />
            <app-input-error [control]="addressForm.get('state')" [fieldKey]="'forms.customer.address.state.label'" />
          } @else {
            <div class="p-3 bg-secondary-subtle rounded-lg flex items-center gap-3">
              <p class="text-sm">{{ currentState()?.name }}</p>
            </div>
          }
        </div>

        <div class="flex flex-col col-span-2 gap-1">
          <label class="text-sm uppercase" for="city">{{ 'forms.customer.address.city.label' | translate }}</label>
          @if (editAddress()) {
            <input id="city" pInputText formControlName="city" />
            <app-input-error [control]="addressForm.get('city')" [fieldKey]="'forms.customer.address.city.label'" />
          } @else {
            <div class="p-3 bg-secondary-subtle rounded-lg flex items-center gap-3">
              <p class="text-sm">{{ address()?.city }}</p>
            </div>
          }
        </div>

        <div class="flex flex-col col-span-2 gap-1">
          <label class="text-sm uppercase" for="streetLine">{{ 'forms.customer.address.streetLine.label' | translate }}</label>
          @if (editAddress()) {
            <input id="streetLine" pInputText formControlName="streetLine" />
            <app-input-error [control]="addressForm.get('streetLine')" [fieldKey]="'forms.customer.address.streetLine.label'" />
          } @else {
            <div class="p-3 bg-secondary-subtle rounded-lg flex items-center gap-3">
              <p class="text-sm">{{ address()?.streetLine }}</p>
            </div>
          }
        </div>
        <div class="flex flex-col gap-1">
          <label class="text-sm uppercase" for="postalCode">{{ 'forms.customer.address.postalCode.label' | translate }}</label>
          @if (editAddress()) {
            <input id="postalCode" pInputText formControlName="postalCode" />
            <app-input-error [control]="addressForm.get('postalCode')" [fieldKey]="'forms.customer.address.postalCode.label'" />
          } @else {
            <div class="p-3 bg-secondary-subtle rounded-lg flex items-center gap-3">
              <p class="text-sm">{{ address()?.postalCode }}</p>
            </div>
          }
        </div>
        <div class="flex flex-col gap-1">
          <label class="text-sm uppercase" for="zipCode">{{ 'forms.customer.address.zipCode.label' | translate }}</label>
          @if (editAddress()) {
            <input id="zipCode" pInputText formControlName="zipCode" />
            <app-input-error [control]="addressForm.get('zipCode')" [fieldKey]="'forms.customer.address.zipCode.label'" />
          } @else {
            <div class="p-3 bg-secondary-subtle rounded-lg flex items-center gap-3">
              <p class="text-sm">{{ address()?.zipCode }}</p>
            </div>
          }
        </div>

        @if (editAddress()) {
          <p-button styleClass="w-full mt-8" [loading]="isSubmiting()" type="submit" severity="primary" size="small" label="Save changes" />
        }
      </div>
    </div>
  </form>
</p-card>
