@use 'tailwindcss';

//primitive
@theme {
  --color-netural-50: var(--color-slate-50);
  --color-netural-100: var(--color-slate-100);
  --color-netural-200: var(--color-slate-200);
  --color-netural-300: var(--color-slate-300);
  --color-netural-400: var(--color-slate-400);
  --color-netural-500: var(--color-slate-500);
  --color-netural-600: var(--color-slate-600);
  --color-netural-700: var(--color-slate-700);
  --color-netural-800: var(--color-slate-800);
  --color-netural-900: var(--color-slate-900);
  --color-netural-950: var(--color-slate-950);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
}

@theme {
  //neutrals

  --color-light : var(--color-neutral-50);
  --color-dark : var(--color-neutral-900);

  --color-primary: var(--color-emerald-600);
  --color-primary-hover: var(--color-emerald-500);
  --color-primary-subtle: var(--color-emerald-50);
  --color-primary-foreground: hsl(0 0% 100%);

  --color-secondary: var(--color-neutral-500);
  --color-secondary-hover: var(--color-neutral-700);
    --color-secondary-subtle: var(--color-neutral-50);

  --color-info: var(--color-blue-500);
  --color-info-hover: var(--color-blue-700);
  --color-info-subtle: var(--color-blue-200);
  --color-info-hover: var(--color-blue-700);
  --color-info-subtle: var(--color-blue-200);

  --color-warning: var(--color-orange-500);
  --color-warning-hover: var(--color-orange-700);
  --color-warning-subtle: var(--color-orange-200);

  --color-danger: var(--color-red-500);
  --color-danger-hover: var(--color-danger-700);
  --color-danger-subtle: var(--color-danger-200);

  --color-bg: var(--color-light);
  --color-bg-inverse: var(  --color-dark);

  --color-surface: var(--color-white);
  --color-surface-inverse : var(--color-netural-800);

  --color-input: var(--color-white);
  --color-input-border-focus: var(--color-primary);
  --color-input-border:var(--color-neutral-400);

  --color-text: var(--color-dark);
  --color-text-secondary: var(--color-secondary);
  --color-text-inverse: var(--color-white);

  --color-border: var(--color-neutral-400);
  --color-border-thin: var(--color-neutral-200);
  --color-border-inverse: var(--color-neutral-700);
}
@layer base {
  body {
    @apply bg-bg text-text;
  }
}
