@use 'tailwindcss';

@theme {
  --text-xs: 0.65rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;

  /* line heights */
  --text-xs-line: 1rem;
  --text-sm-line: 1.25rem;
  --text-base-line: 1.5rem;
  --text-lg-line: 1.75rem;
  --text-xl-line: 1.75rem;
}

@layer base {
  html {
    @apply font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-lg;
  }

  body {
    @apply text-base leading-normal;
  }
}
