<p-card>
  <div class="flex flex-col gap-5">
    <h6 class="text-secondary text-sm uppercase font-medium">Security & Contact</h6>
    <form>
      <div class="flex flex-col gap-1.5">
        <div class="flex items-center justify-between">
          <label class="uppercase text-secondary text-sm">Email Address</label>
          @if (editEmail()) {
            <div class="flex items-center gap-3">
              <p-button icon="pi pi-check" variant="text" severity="primary"></p-button>
              <p-button icon="pi pi-times" variant="text" severity="danger" (onClick)="toggleEditEmail()"></p-button>
            </div>
          } @else {
            <p-button icon="pi pi-pencil" variant="text" severity="contrast" (onClick)="toggleEditEmail()"></p-button>
          }
        </div>
        @if (editEmail()) {
          <input pInputText id="email" [value]="dummy().email" />
          <p-button label="Save email address" size="small" styleClass="w-full mt-3" />
        } @else {
          <div class="p-3 bg-secondary-subtle rounded-lg flex items-center gap-3">
            <ng-icon name="featherMail" />
            <p class="text-sm">{{ dummy().email }}</p>
          </div>
        }
      </div>
    </form>

    <form>
      <div class="flex flex-col gap-1.5">
        <div class="flex items-center justify-between">
          <label for="phone" class="uppercase text-secondary text-sm">Phone number</label>
          @if (editPhone()) {
            <div class="flex items-center gap-3">
              <p-button icon="pi pi-check" variant="text" severity="primary"></p-button>
              <p-button icon="pi pi-times" variant="text" severity="danger" (onClick)="toggleEditPhone()"></p-button>
            </div>
          } @else {
            <p-button icon="pi pi-pencil" variant="text" severity="contrast" (onClick)="toggleEditPhone()"></p-button>
          }
        </div>
        @if (editPhone()) {
          <input pInputText id="phone" [value]="dummy().phone" />
          <p-button label="Save phone number" styleClass="w-full mt-3" />
        } @else {
          <div class="p-3 bg-secondary-subtle rounded-lg flex items-center gap-3">
            <ng-icon name="heroPhone" />
            <p class="text-sm">{{ dummy().phone }}</p>
          </div>
        }
      </div>
    </form>
  </div>
</p-card>
