<p-card class="shadow ">
  <div class="px-5 py-8 w-full text-center ">
    <div class="grid grid-cols gap-8">
      <div class="space-y-1">
        <h4>Welcome back</h4>
        <p class="text-secondary">Securely access your digital assets</p>
      </div>
      <div class="relative">

        <div class="relative flex justify-center">
          <span class="text-xs text-secondary uppercase">Secure Authentication</span>
        </div>
      </div>
      <div class="w-full block">
        <button [loading]="loading()"  loadingIcon="pi pi-spin pi-spinner" (click)="handleButtonClick()" class="w-full block font-thin text-sm " size="large"
          pButton>
          @if (!loading()) {
          <i class="pi pi-sign-in" pButtonIcon></i>
          }

          <span pButtonLabel>Continue with Secure Auth</span>
        </button>

      </div>
      <div>
        <p class="text-secondary text-sm">
          By continuing, you agree to NovaWallet's
          <a class="text-primary">Terms of Service</a> and
          <a class="text-primary">Privacy Policy</a> .
        </p>
      </div>
    </div>
  </div>
</p-card>