<div class="space-y-14">
  <div class="space-y-3">
    <h4>Let's get started</h4>
    <p>Tell us a bit about yourself to set up your account.</p>
  </div>
  <form (submit)="handleSubmit($event)" [formGroup]="emailForm">
    <div class="space-y-5">
      <div class="flex flex-col gap-2">
        <label for="email">Email</label>
        <input class="block" pInputText id="email" aria-describedby="email-help" [placeholder]="'forms.onboarding.email.placeholder' | translate" formControlName="email" />
        <app-input-error [control]="emailForm.get('email')" [field]="'forms.onboarding.email.label' | translate" />
      </div>
      <p-button label="Continue" type="submit" size="large" styleClass="w-full" icon="pi pi-angle-right" iconPos="right" [loading]="loading()" />
    </div>
  </form>
</div>
